# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.yarn
**/dist
**/dist-ssr
**/dist-electron
**/native
**/release
*.local
.env

# Editor directories and files
.vscode/.debug.env
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# lockfile
package-lock.json
pnpm-lock.yaml
yarn.lock

# VSCode
.history

# Rust
target